[Unit]
Description=BBIFather Telegram Bot
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/var/www/bbifather/bot
Environment=DATABASE_URL=sqlite:///var/www/bbifather/data/database.db
Environment=TELEGRAM_BOT_TOKEN=YOUR_BOT_TOKEN
Environment=TELEGRAM_CHAT_ID=YOUR_CHAT_ID
ExecStart=/usr/bin/python3 bot.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target