[Unit]
Description=BBIFather Bot
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/var/www/bbifather/bot
Environment=TELEGRAM_BOT_TOKEN=YOUR_BOT_TOKEN
Environment=TELEGRAM_CHAT_ID=YOUR_CHAT_ID
ExecStart=/usr/bin/python3 bot.py
Restart=always

[Install]
WantedBy=multi-user.target